*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff );
}

nav{
    width: 100%;
    position: sticky;
    margin: 50px ;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    width: 200px;
}

.nav-links{ 
    flex: 1;
    text-align: right;
}

.nav-links ul li{ 
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-links ul li a{ 
    text-decoration: none;
    color: #fff;
}

.information{
    width: 950px;
    height: 950px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

#circle{
    width: 950px;
    height: 950px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;

    /* JavaScript */
    transform: rotate(0deg);
    transition: 1s;
}

.feature{
    position: absolute;
    display: flex;
    color: #fff;
}

.feature div{
    margin-left: 30px;
}

.feature div p{
    margin-top: 8px;
}

.feature img{
    width: 60px;
}

.A{
    top: 450px;
    right: 50px;
}

.B{
    top: 150px;
    left: 350px;

    /* JavaScript */
    
}

.C{
    bottom: 450px;
    left: 50px;
}

.D{
    bottom: 150px;
    right: 350px;
}

.mobile{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}


.controls h3{
    margin: 15px 0;
    color: #fff;
}

#upbtn{
    width: 15px;
    cursor: pointer;
}

#downbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}









.
